extends layout

block content
    h4 #{idea.title}
    p #{idea.poster}
    p #{idea.description}
    p #{idea.industry}
    
    if (user.username == idea.poster)
        p
            a(href='/idea=#{idea._id}/update') Update Idea
    p
        a(href='/signout') Sign Out

        