extends layout

block content
    h1 New Start-up idea

    form(action=action, method="POST" id="idea")
        div
            p Title
            input(type="text" name="title" placeholder="Title", required, autofocus, value=title)
        div
            p Description
            textarea(cols="40" rows="5" name="description" placeholder="Description", required) #{description}
        div
            p Industry
            select(name="industry")
                each i in industries
                    option(value="#{i}" selected=i==industry) #{i}

        div
            input(type="submit" value="Submit")


        if message
            p #{message}

