extends layout

block content
    h1 New Start-up idea

    form(action="/new-idea", method="POST" id="idea")
        div
            p Title
            input(type="text" name="title" placeholder="Title", required, autofocus, value=title)
        div
            p Description
            input(type="text" name="description" placeholder="Description", required, value=description)
        div
            p Industry
            select
                each i in industries
                    option(value="#{i}" selected=i==industry) #{i}

        div
            input(type="submit" value="Submit")


        if message
            p #{message}

